* {
    box-sizing: border-box;
}

:root {
    --primary-color: #ff5b2e;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: #fffaf5;
}

/* Common */
a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}
:root {
    --primary-color: #2b3d4f;
    --body-bgc: #fffaf5;
    --secondary-color: #3398db;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgb(0, 9, 88, 0.7);
    border-radius: 99px;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
    color: #000958;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.btn--primary {
    color: #fff !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 4px 3px 10px -1px rgb(51, 152, 219, 0.42);
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */
.header {
    padding: 26px 0;
}
.logo {
    width: 100px;
    height: 100px;
}
.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5e6085;
}

.navbar__link:hover {
    color: #000958;
    text-shadow: 1px 0 0 currentColor;
}

.header-action__btn {
    --height: 50px;

    min-width: 118px;
}

/* Hero */
.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

.hero__media {
    position: relative;
    display: flex;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 322px;
    height: 482px;
    background: var(--primary-color);
    border-radius: 16px;
    border: 3px solid #fff;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: inherit;
}
.hero__img--medium {
    width: 186px;
    height: 244px;
    object-fit: cover;
}
.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor-left {
    left: -58px;
    bottom: 10px;
}

.hero__decor-right {
    top: 16px;
    right: -43px;
}

.hero__img-wrap-small {
    align-self: flex-end;
    width: 186px;
    height: 244px;
    margin: 0 0 -58px -24px;
    border: 2px solid #f7dddf;
    background: var(--primary-color);
}

.hero__list {
    position: absolute;
    left: 60px;
    bottom: -20px;
    width: 250px;
    height: 156px;
    padding: 18px 14px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
}

.hero-list-item {
    display: flex;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    background: #fec23f;
}

.hero-list-item__info {
    margin-left: 10px;
}

.hero-list-item__title {
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.4;
    line-height: 1;
    color: #181e52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__separate {
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #f2f2f2;
    border-radius: 99px;
}

.hero-list-item:nth-of-type(2) .hero-list-item__thumb {
    background: #c6e2fa;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 391px;
    margin-top: 24px;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 190px;
    font-size: 1.6rem;
    box-shadow: 0px 13px 26px -8px rgb(51, 152, 219, 0.42)
}

.hero__cta-link {
    margin-left: 24px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration: underline;
    color: #000958;
}

/* About */
.about {
    margin-top: 170px;
}
.about .section-heading {
    text-align: center;
}
.about .section-desc {
    text-align: center;
    margin-top: 16px;
}
.about__row {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.about_image__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.about-item {
    display: flex;
    width: 480px;
    height: 150px;
    padding: 21px 22px 20px;
    gap: 19px;
    border-radius: 10px;
    background: var(--body-bgc);
    transition: all 0.3s;
    align-items: center;
}
.about-item__icon {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #eff6fd;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
    color: #10375c;
}
.about-info__name {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}
.about-info__desc {
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem; /* 175% */
    margin-top: 8px;
}
.about-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
}
.about-item:hover .about-item__icon {
    background: #2e80ce;
    color: #fff;
}
.about__button {
    margin-top: 45px;
    width: 205px;
}
/* Service */
.service {
    margin-top: 190px;
    padding: 68px 0 100px;
    background: #fff6ed;
}

.service__top {
    text-align: center;
}

.service__desc,
.staff__desc {
    margin-bottom: 15px;
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 65px;
    margin-top: 70px;
}

.service-item {
    width: 294px;
    padding: 30px;
    background: #fff;
    border: 2px solid rgb(51, 152, 219, 0.42);
    border-radius: 10px;
}

.service-item + .service-item {
    margin-top: 24px;
}

.service-item__heading {
    position: relative;
    padding-left: 12px;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.service-item__heading::before {
    position: absolute;
    inset: 0 auto 0 0;
    content: "";
    display: inline-block;
    width: 2px;
    border-radius: 1px;
    background: linear-gradient(var(--primary-color), var(--secondary-color));
}

.service-item__desc {
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

.service-item__more {
    display: inline-flex;
    align-items: center;
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-size: 1.2rem;
    line-height: 1;
    color: #34396a;
}

.service-item__more::after {
    content: url(../icons/arrow-up-right.svg);
    margin: 1px 0 0 5px;
}

.service__media {
    position: relative;
    margin-top: 18px;
}

.service__media::after {
    content: "";
    position: absolute;
    height: 350px;
    left: 16px;
    right: 16px;
    bottom: 0;
    background: linear-gradient(180deg, var(--secondary-color) 0%, var(--primary-color) 108.14%);
    border-radius: 10px;
}

.service__img {
    position: relative;
    z-index: 1;
    display: block;
    width: 100%;
    margin-left: 17px;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    min-width: 214px;
    color: var(--primary-color);
    border-color: currentColor;
}

/* benefit */
.benefit {
    padding: 86px 0;
    background: #fff6ed;
}

.benefit__container {
    width: 994px;
}

.benefit__heading,
.benefit__desc {
    text-align: center;
}

.benefit__desc {
    width: 709px;
    margin-left: auto;
    margin-right: auto;
}

.benefit__switch-wrap {
    display: flex;
    justify-content: center;
    margin-top: 38px;
}

.benefit__switch-label {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 276px;
    height: 56px;
    padding: 0 40px;
    border: 1px solid #ff5b2e99;
    border-radius: 99px;
    user-select: none;
    cursor: pointer;
}

.benefit__switch-label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    background: #ff5b2e;
    border-radius: inherit;
}

.benefit__switch-value {
    position: relative;
    z-index: 1;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    color: #fff;
}

.benefit__switch-input:checked + .benefit__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.benefit__switch-input:not(:checked)
    + .benefit__switch-label
    .benefit__switch-value:nth-of-type(2),
.benefit__switch-input:checked
    + .benefit__switch-label
    .benefit__switch-value:nth-of-type(1) {
    color: #ff5b2e;
}

.benefit__switch-inner {
    position: relative;
}

.benefit__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.benefit__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    margin-top: 56px;
}

.benefit-item {
    padding: 30px 16px;
    background: #fff;
    border-radius: 20px;
}
.benefit-img {
    width: 100%;
    height: 165px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
}
.benefit-item--active {
    box-shadow: 0px 20px 44px rgba(195, 108, 22, 0.06);
}

.benefit-item__type {
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}

.benefit-item__heading {
    margin-top: 8px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1;
    color: #3f4065;
    text-align: center;
    margin-top: 25px;
    line-height: 1.6;
}
.benefit-item__desc {
    text-align: center;
    color: #656689;
    margin-top: 25px;
    line-height: 1.6;
}
.benefit-item__price {
    margin-top: 24px;
    font-family: Sora, sans-serif;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.03;
    color: #000958;
}

.benefit-item__btn {
    --height: 44px;

    margin-top: 22px;
    width: 100%;
    border: 1px solid rgba(255, 91, 46, 0.6);
    color: #ff5b2e;
    background: transparent;
}

.benefit-item__list {
    margin-top: 24px;
}

.benefit-item__item {
    display: flex;
    margin-top: 18px;
    font-size: 1.4rem;
    line-height: 1;
    color: #656689;
}

.benefit-item__item::before {
    content: url(../icons/price-check.svg);
    margin-right: 14px;
}

/* Blog */
.blog {
    padding: 78px 0;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.blog__top .section-heading {
    max-width: 50%;
}
.blog__info {
    width: 350px;
    margin-right: 74px;
}

.blog__desc {
    margin-top: 0;
    text-align: center;
}

.blog__cta {
    min-width: 182px;
    margin-top: 24px;
    border: 1px solid rgb(255 91 46 / 60%);
    color: #ff5b2e;
}

.blog__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
    margin-top: 64px;
}

.blog-item__img-wrap {
    padding: 14px 0 0 36px;
    background: #90ccff;
    border-radius: 24px;;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #ff997e;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5bd6e2;
}

.blog-item__img {
    display: block;
    margin-top: 25px;
    width: 100%;
    height: 296px;
    object-fit: cover;
}

.blog-item__time {
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #fff;
}

.blog-item__info {
    padding: 28px 16px 0 0;
}

.blog-item__title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}

.blog-item__desc {
    margin-top: 16px;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}

/* Footer */
.footer {
    margin-top: 52px;
    background: linear-gradient(to right, #fff6ed 43%, transparent 42%);
}

.footer__inner {
    display: flex;
}

.footer__left {
    width: 42%;
    padding: 114px 0 148px;
}

.footer__right {
    flex: 1;
    padding: 52px 0 48px 0;
    display: flex;
    flex-direction: column;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 268px;
    height: 46px;
    margin: 34px 0 68px;
    border: 1px solid rgb(51, 152, 219, 0.42);
    border-radius: 99px;
    background: #fff;
}

.subscribe-form__input {
    width: 100%;
    height: 100%;
    padding: 0 22px;
    border: none;
    outline: none;
    border-radius: inherit;
    font-size: 1.4rem;
}

.subscribe-form__input::placeholder {
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.8;
}

.subscribe-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 46px;
    height: 46px;
    margin-right: -1px;
    border-radius: 50%;
    background: #3398db;
    box-shadow: 0px 15px 28px -7px rgba(255, 91, 46, 0.3);
    outline: none;
    border: none;
}

.subscribe-form__submit:hover {
    opacity: 0.9;
    cursor: pointer;
}

.footer__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.11;
    color: #000958;
}

.social-list {
    display: flex;
    column-gap: 16px;
    margin-top: 16px;
}

.social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
}

.social-item:hover {
    opacity: 0.9;
}

.footer__row {
    margin-left: 129px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 58px 137px;
}

.footer__list {
    margin-top: 14px;
}

.footer__link {
    font-size: 1.4rem;
    line-height: 2;
    color: #656689;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__copyright {
    margin: 52px 0 0 22px;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.17;
    color: #656689;
    opacity: 0.5;
    align-self: center;
    justify-self: flex-start;
}
